sei/web/ws/publicacao.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions 
   name="PublicacaoWS" 
   targetNamespace="SeiPublicacao"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"   
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="SeiPublicacao">

  <wsdl:types>
  
    <xsd:schema targetNamespace="SeiPublicacao">
    
    <xsd:complexType name="Publicacoes">
      <xsd:all>
        <xsd:element name="IdVeiculoPublicacao" type="xsd:string"/>
        <xsd:element name="DataDisponibilizacao" type="xsd:string"/>
        <xsd:element name="DataPublicacao" type="xsd:string"/>
        <xsd:element name="Numero" type="xsd:string"/>
        <xsd:element name="IdDocumentos" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:all>
    </xsd:complexType>
    
    </xsd:schema>
    
  </wsdl:types>
   
  <wsdl:message name="confirmarDisponibilizacaoRequest">
    <wsdl:part name="Publicacoes" type="tns:Publicacoes" />
  </wsdl:message>
   
  <wsdl:message name="confirmarDisponibilizacaoResponse">
    <wsdl:part name="parametros" type="xsd:string" />
  </wsdl:message>
   
  <wsdl:portType name="SeiPublicacaoPortType">
    <wsdl:operation name="confirmarDisponibilizacao">
       <wsdl:input message="tns:confirmarDisponibilizacaoRequest"/>
       <wsdl:output message="tns:confirmarDisponibilizacaoResponse"/>
    </wsdl:operation>

  </wsdl:portType>
   
  <wsdl:binding name="SeiPublicacaoBinding" type="tns:SeiPublicacaoPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="confirmarDisponibilizacao">
      <soap:operation soapAction="SeiPublicacaoAction"/>
      <wsdl:input>
        <soap:body namespace="SeiPublicacao" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="SeiPublicacao" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="SeiPublicacaoService">
    <wsdl:port name="SeiPublicacaoPortService" binding="tns:SeiPublicacaoBinding">
      <soap:address location="[servidor]/ws/PublicacaoWS.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>